<div class="container p-2">
    <div class="card">
        <h5 class="card-header text-center text-bg-primary">EDIT MEDIA</h5>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12 mx-auto">
                    <form action="/files/edit/{{media.id}}" method="POST" class="row g-3">
                        <div class="form-group col-12 mt-3">
                            <input type="text" value="{{media.title}}" class="form-control" name="title" placeholder="Title" autofocus>
                        </div>
                        <div class="form-group col-md-6">
                            <input type="text" value="{{media.genre}}" class="form-control" name="genre" placeholder="Genre">
                        </div>
                        <div class="form-group col-md-6">
                            <!--<input type="text" value="{{media.data_type}}" class="form-control" name="data_type" placeholder="Type">-->

                            <select class="form-select form-control" aria-label="{{media.data_type}}" name="data_type">
                                <option selected>Select a type</option>
                                <option value="movie">movie</option>
                                <option value="series">serie</option>
                                <option value="anime">anime</option>
                            </select>

                        </div>
                        <div class="form-group col-md-1">
                            <p class="ms-2 mt-1 my-auto">Released</p>
                        </div>
                        <div class="form-group col-md-5">
                            <input type="date" value="{{media.released}}" class="form-control" name="released" placeholder="Released">
                        </div>
                        <div class="form-group col-md-6">
                            <input type="text" value="{{media.years}}" class="form-control" name="years" placeholder="Years">
                        </div>
                        <div class="form-group">
                            <input type="text" value="{{media.director}}" class="form-control" name="director" placeholder="Director">
                        </div>
                        <div class="form-group">
                            <input type="text" value="{{media.actors}}" class="form-control" name="actors" placeholder="Actors">
                        </div>
                        <div class="form-group">
                            <textarea row="2" class="form-control" name="plot" placeholder="Plot">{{media.plot}}</textarea>
                        </div>
                        <div class="form-group">
                            <input type="text" value="{{media.poster}}" class="form-control" name="poster" placeholder="Poster (image link)">
                        </div>
                        <div class="form-group d-grid gap-2 col-md-6">
                            <button class="btn btn-success btn-block">
                                Save
                            </button>
                        </div>
                        <div class="form-group d-grid gap-2 col-md-6">
                            <a class="btn btn-danger btn-block" href="/dashboard">
                                Cancel
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>